.cont1 {
    display: flex;
    /* flex-flow: nowrap; */
    flex-direction: column; /* Alinea las tarjetas en una columna */
    align-items: center; /* Centra las tarjetas horizontalmente */
    /* overflow-x: auto;  */
    width: 800px;
    color: azure;
    
  }

  
  .custom-card2 {
    background-color: rgb(172, 106, 6);
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:30%; /* Ancho fijo para cada tarjeta */
    margin-right: 10px; /* Espacio entre las tarjetas en la fila */
    text-align: center;
  }
  
  /* Establece el tamaño deseado para las imágenes */
  .custom-img-size {
    width: auto;
    height: 80%; /* Permite que la altura de la imagen se ajuste automáticamente */
    max-height: 150px; /* Establece una altura máxima para las imágenes */
    object-fit: cover;
  }
  